:root {
  /* Brand */
  --color-primary: #0a0a98d6;
  --color-primary-hover: #0941c3a7;

  /* Backgrounds */
  --color-bg: #f8fafc;
  --color-surface: #ffffff;

  /* Text */
  --color-text: #0f172a;
  --color-text-muted: #475569;

  /* Borders */
  --color-border: #e2e8f0;

  /* Accent */
  --color-accent: #7ea3e2;

  /* Status */
  --color-success: #3ee37b;
  --color-warning: #f8c14b;
  --color-danger: #f65c5c;

  /* Buttons */
  --btn-bg: var(--color-primary);
  --btn-hover: var(--color-primary-hover);

  /* Shadows */
  --shadow-card: 0 4px 6px rgba(0,0,0,0.1);

  --color-orange: #f97316;
  --color-purple: #8b5cf6;
  --color-green: #22c55e;
  --color-blue: #2ddef9;
  --color-yellow:#f9ea16;
}

[data-theme="dark"] {
  /* Brand */
  --color-primary: #3b82f6;
  --color-primary-hover: #60a5fa;

  /* Backgrounds */
  --color-bg: #020617;
  --color-surface: #0f172a;

  /* Text */
  --color-text: #f1f5f9;
  --color-text-muted: #94a3b8;

  /* Borders */
  --color-border: #1e293b;

  /* Accent */
  --color-accent: #60a5fa;

  /* Status */
  --color-success: #4ade80;
  --color-warning: #fbbf24;
  --color-danger: #f87171;

  /* Buttons */
  --btn-bg: var(--color-primary);
  --btn-hover: var(--color-primary-hover);

  /* Shadows */
  --shadow-card: 0 4px 6px rgba(0,0,0,0.5);

   --color-orange: #f97316;
  --color-purple: #8b5cf6;
  --color-green: #22c55e;
  --color-blue: #2ddef9;
  --color-yellow:#f9ea16;
}