.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.layout-content {
  margin-left: 72px;
  height: calc(100vh - 52px);
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .layout-content {
    margin-left: 60px;
    height: calc(100vh - 48px);
  }
}
